Flask>=3.0,<4.0
pytest>=8.0,<9.0

you may need to install flask
$flask --version
  Command 'flask' not found, but can be installed with:
  sudo apt install python3-flask
$sudo apt install python3-flask
[sudo: authenticate] Password:     
Installing:                     
  python3-flask
$flask --version
Python 3.14.4
Flask 3.1.3
Werkzeug 3.1.5
